html {
  background-color: #141b2b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  padding: 8px 24px;
  font-size: 15px;
}

.compactCell {
  padding: 1px 12px;
  font-size: 14px;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #303030;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #909090;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
